<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="com.koperindo.inventory" ios-CFBundleVersion="1.0.0" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Inventory</name>
    <description>Aplikasi manajemen stok gudang Koperindo -- Material, Opname, Stock In/Out, Partner, Logo.</description>
    <author email="dev@example.com" href="https://example.com">Tim Dev</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="AndroidXEnabled" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/icon.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <resource-file src="resources/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <!-- Adaptive icon (mipmap-*-v26, Android 8+) SENGAJA tidak dipakai (lihat catatan yang
             sama di ekspedisi-apk/config.xml): cordova-android 15.1.0 tidak mempertahankan file
             adaptive-icon (foreground/background) walau ditaruh manual, kehapus tiap
             cordova prepare/build. Icon flat (mipmap-*/ic_launcher.png) sudah benar dan
             terverifikasi masuk ke APK di ekspedisi-apk, dipakai sama di sini. -->
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.5" />
    <plugin name="cordova-plugin-device" spec="^2.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="^3.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^6.0.2" />
</widget>
